/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Rubik Mono One', sans-serif;
}

a{
  color: black;
  text-decoration: none;
}

/* HEADER/NAVBAR */

header{
  position: fixed;
  /* Moltiplico la larghezza dei cerchi (50px) + il totale dei margini (40px => 20px + 20px) per 3. */
  width: calc((50px + 40px) * 3);
  top: 40px;
  right: 0;
}

header nav ul{
  list-style: none;
  text-align: right;
}

header nav ul li a{
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 17px;
  background-color: white;
  border-radius: 50%;
  margin: 0 20px;
}

header nav ul li a:hover{
  background-color: darkgray;
  box-shadow: 3px  3px  7px black;
}

header nav ul li a:active{
  margin-top: 5px;
}

.box{
  width: 100%; /* NON vw perchè se no compare la scrollbar */
  height: 100vh;
}

#red{
  background-color: red;
}

#green{
  background-color: #008000;
}

#yellow{
  background-color: yellow;
}